<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 권한 및 특성 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Application 설정 -->
    <application

        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        tools:targetApi="31">

        <!-- Google Maps API 키 설정 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGLeIFOpSgEeZLTModCPUaL-YY-SdRLOQ"/>

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CameraActivity 설정 -->
        <activity
            android:name=".CameraActivity"
            android:exported="true">
        </activity>

        <!-- MapReceiptActivity 설정 -->
        <activity
            android:name=".MapReceiptActivity"
            android:exported="true"
            android:theme="@style/Theme.Hello">
        </activity>

        <!-- YsemapActivity 설정 -->
        <activity
            android:name=".YsemapActivity"
            android:exported="true"
            android:theme="@style/Theme.Hello">
        </activity>


        <!-- FileProvider 설정 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hello.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

    </application>
</manifest>
